.textColour {
  color: #e2e2e2;
}

.backgroundColour {
  background: #e2e2e2;
}

.headingColour {
  /* Unomment for Christmas */
  /* color: #fff; */
  /* Comment for Christmas */
  color: var(--grey);
}