@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;200;300;400&family=Racing+Sans+One&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --red: rgb(237, 29, 34);
  --red-hover: rgba(237, 29, 32, 0.8);
  --orange: rgb(247, 73, 2);
  --orange-hover: rgba(247, 71, 2, 0.8);
  --blue: rgb(108, 151, 198);
  --blue-hover: rgba(108, 151, 198, 0.8);
  --green: rgb(14, 156, 7);
  --green-hover: rgba(14, 156, 7, 0.8);
  --pink: rgb(255, 105, 180);
  --pink-hover: rgba(255, 105, 180, 0.8);
  --grey: rgb(39, 39, 39);
  --dark-grey: rgb(27, 27, 27);
  --grey-hover: rgb(85, 85, 85);

  --red-background: 237, 29, 34;
  --orange-background: 247, 73, 2;
  --blue-background: 108, 151, 198;
  --green-background: 14, 156, 7;
  --pink-background: 255, 105, 180;
  --grey-background: 39, 39, 39;
  --dark-grey-background: 27, 27, 27;
  --light-grey-background: 231, 231, 231;

  --background-grey: rgb(231, 231, 231);

  --ballet-pink: #f0bbc1;
  --ballet-blue: #a0cdd0;
  --ballet-mulberry: #99135e;
  --ballet-black: #000;
  --ballet-navy: #00275d;
  --ballet-purple: #342a7b;
  --ballet-lilac: #9396cb;
  --ballet-honey: #d7aa5f;
  --ballet-white: #fff;

  --messenger: #0695ff;
  --messenger-hover: #0695ff;
  --whatsapp: #25d366;
  --whatsapp-hover: #25d366;
}

@font-face {
  font-family: 'Racing Sans One', sans-serif;
  src: url('/fonts/Racing_Sans_One/RacingSansOne-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato', sans-serif;
  src: url('/fonts/Lato/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url('/fonts/Raleway/Raleway-VariableFont_wght.ttf');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #fff;
    background: #313131;
  }
} */

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: #313131;
    background: #fff;
  }
}

.react-multi-carousel-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

.react-multi-carousel-item {
  margin: auto !important;
  text-align: center;
  padding: 0 1rem;
}

.rounded-corners {
  border-radius: 0.5rem;
}

.round-image {
  border-radius: 50%;
}

.box-shadow {
  box-shadow: 15px -11px 82px -18px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 15px -11px 82px -18px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 15px -11px 82px -18px rgba(0, 0, 0, 0.5);
}

.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}
